@page "/Profile/Information"
@page "/Profile"

@using AutoMapper;
@using Web.DepotEice.BLL.IServices;
@using Web.DepotEice.BLL.Models;
@using Web.DepotEice.UIL.Helpers;
@using Web.DepotEice.UIL.Managers;
@using Web.DepotEice.UIL.Models.Forms;

@inject IUserService UserService;
@inject ILogger<Information> Logger;
@inject IMapper Mapper;
@inject UserManager UserManager;

<PageTitle>EICE - Informations</PageTitle>

<h3 class="text-center my-5">Informations générales</h3>

<div class="container">

    <EditForm Model="ProfileUpdate" OnValidSubmit="OnSubmitClicked">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="mb-3">
            <ImageUploader ImageSource="@($"{Utils.API_BASE_URL}{ProfileUpdate.ProfilePictureUrl}")"
                           ProfilePictureUpdate="HandleProfilePictureUpdate" />
        </div>

        <div class="mb-3 d-flex flex-lg-row justify-content-between">
            <div class="me-1 col-lg">
                <label for="firstName" class="form-label">
                    Prénom
                </label>
                <InputText @bind-Value="@ProfileUpdate.FirstName" id="firstName" class="form-control"
                           aria-describedby="firstName" disabled />
                <ValidationMessage class="text-danger" For="(() => ProfileUpdate.FirstName)"></ValidationMessage>
            </div>
            <div class="ms-1 col-lg">
                <label for="lastName" class="form-label">
                    Nom de famille
                </label>
                <InputText @bind-Value="@ProfileUpdate.LastName" id="lastName" class="form-control"
                           aria-describedby="lastName" disabled />
                <ValidationMessage class="text-danger" For="(() => ProfileUpdate.LastName)"></ValidationMessage>
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">
                Adresse email
            </label>
            <InputText @bind-Value="@ProfileUpdate.Email" id="emailAddress" class="form-control"
                       aria-describedby="emailAddress" disabled />
            <ValidationMessage class="text-danger" For="(() => ProfileUpdate.Email)"></ValidationMessage>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">
                Addresse email de l'école
            </label>
            <InputText @bind-Value="ProfileUpdate.SchoolEmail" id="schoolEmailAddress" class="form-control"
                       aria-describedby="schoolEmailAddress" disabled />
            <ValidationMessage class="text-danger" For="(() => ProfileUpdate.SchoolEmail)"></ValidationMessage>
        </div>

        <div class="mb-3 d-flex flex-lg-row justify-content-between">
            <div class="me-1 col-lg">
                <label for="gender" class="form-label">
                    Genre
                </label>

                <div class="d-flex flex-row justify-content-between" style="width: 50%;">
                    <InputRadioGroup @bind-Value="ProfileUpdate.Gender">
                        <div class="">
                            <InputRadio Value="@("Homme")" class="mx-1" /> Homme
                        </div>

                        <div class="">
                            <InputRadio Value="@("Femme")" class="mx-1" /> Femme
                        </div>

                        <div class="">
                            <InputRadio Value="@("Autre")" class="mx-1" /> Autre
                        </div>
                    </InputRadioGroup>
                </div>
            </div>

            <div class="ms-1 col-lg">
                <label for="birthDate" class="form-label">
                    Date de naissance
                </label>
                <InputDate id="birthDate" class="form-control" aria-describedby="birthDate"
                @bind-Value="ProfileUpdate.BirthDate" />
                <ValidationMessage class="text-danger" For="(() => ProfileUpdate.BirthDate)"></ValidationMessage>
            </div>
        </div>

        <div class="mb-3 d-flex flex-lg-row justify-content-between">
            <div class="me-1 col-lg">
                <label for="mobileNumber" class="form-label">
                    Mobile
                </label>
                <InputText @bind-Value="ProfileUpdate.MobileNumber" id="mobileNumber" class="form-control"
                           aria-describedby="mobileNumber" />
                <ValidationMessage class="text-danger" For="(() => ProfileUpdate.MobileNumber)"></ValidationMessage>
            </div>

            <div class="ms-1 col-lg">
                <label for="phoneNumber" class="form-label">
                    Téléphone
                </label>
                <InputText @bind-Value="ProfileUpdate.PhoneNumber" id="phoneNumber" class="form-control"
                           aria-describedby="phoneNumber" />
                <ValidationMessage class="text-danger" For="(() => ProfileUpdate.PhoneNumber)"></ValidationMessage>
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary mx-auto">
                Enregistrer
            </button>
            <button type="button" class="btn btn-light mx-auto">
                Réinitialiser
            </button>
        </div>
    </EditForm>

</div>

<Toasts Class="p-3" Messages="ToastMessages" Delay="5000" />

@code {
    /// <summary>
    /// Preload service
    /// </summary>
    [Inject]
    public PreloadService? PreloadService { get; private set; }

    /// <summary>
    /// The list of toast messages
    /// </summary>
    public List<ToastMessage> ToastMessages { get; private set; } = new();

    /// <summary>
    /// The profile update form
    /// </summary>
    public ProfileUpdateForm ProfileUpdate { get; set; } = new ProfileUpdateForm();

    /// <summary>
    /// The different gender options
    /// </summary>
    public string[] Options { get; set; } = new string[] { "Homme", "Femme", "Autre" };

    /// <summary>
    /// Initialize the component
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        PreloadService?.Show();

        ResultModel<UserModel> result = await UserService.GetUserAsync();

        if (!result.Success)
        {
            Logger.LogError(
                "Requesting the current user failed with status code {code}.\n{msg}",
                result.Code,
                result.Message
            );

            ShowMessage(
                ToastType.Danger,
                "Erreur",
                "Une erreur est survenue lors de la récupération de vos informations. Veuillez réessayer plus tard.",
                true
            );

            PreloadService?.Hide();

            return;
        }

        if (result.Data is null)
        {
            Logger.LogError(
                "Requesting the current user succeeded but the data returned is null.\n{msg}",
                result.Message
            );

            ShowMessage(
                ToastType.Danger,
                "Erreur",
                "Aucune donnée retournée par le serveur. Veuillez réessayer plus tard.",
                true
            );

            PreloadService?.Hide();

            return;
        }

        ProfileUpdate = Mapper.Map<ProfileUpdateForm>(result.Data);

        PreloadService?.Hide();
    }

    /// <summary>
    /// Event handler triggered when the form is valid and the user clicked on the submit button
    /// </summary>
    private async Task OnSubmitClicked()
    {
        PreloadService?.Show();

        UserUpdateModel userModel = Mapper.Map<UserUpdateModel>(ProfileUpdate);

        ResultModel<UserModel> result = await UserService.UpdateUserAsync(userModel);

        if (!result.Success)
        {
            Logger.LogError(
                "Updating the current user failed with status code {code}.\n{msg}",
                result.Code,
                result.Message
            );

            ShowMessage(
                ToastType.Danger,
                "Mise à jour des informations",
                "Une erreur est survenue lors de la mise à jour de vos informations. Veuillez réessayer plus tard.",
                true
            );

            PreloadService?.Hide();

            return;
        }

        if (result.Data is null)
        {
            Logger.LogError(
                "Updating the current user succeeded but the data returned is null.\n{msg}",
                result.Message
            );

            ShowMessage(
                ToastType.Danger,
                "Mise à jour des informations",
                "Aucune donnée retournée par le serveur. Veuillez réessayer plus tard.",
                true
            );

            PreloadService?.Hide();

            return;
        }

        ProfileUpdate = Mapper.Map<ProfileUpdateForm>(result.Data);

        ShowMessage(
            ToastType.Success,
            "Mise à jour des informations",
            "Vos informations ont été mises à jour avec succès.",
            true
        );

        PreloadService?.Hide();
    }

    private async Task HandleProfilePictureUpdate(byte[] bytes, string contentType)
    {
        if (bytes is null)
        {
            Logger.LogError($"{DateTime.Now} - The profile picture bytes are null");
            return;
        }

        Logger.LogInformation($"{DateTime.Now} - The profile picture bytes are valid");

        await UserService.UpdateProfilePictureAsync(bytes, contentType);
    }

    /// <summary>
    /// Add a new toast message to the list of toast messages
    /// </summary>
    /// <param name="toastType">The toast message type</param>
    /// <param name="title">The title of the toast message</param>
    /// <param name="message">The body message</param>
    /// <param name="autoHide">Decide if the toast should hide after a delay</param>
    private void ShowMessage(ToastType toastType, string title, string message, bool autoHide)
    {
        var toastMessage = new ToastMessage()
            {
                Type = toastType,
                Title = title,
                Message = message,
                AutoHide = autoHide,
                HelpText = $"{DateTime.Now}",
            };

        ToastMessages.Add(toastMessage);
    }
}
