@page "/register"
@page "/signup"

@using AutoMapper
@using Microsoft.Extensions.Logging;
@using Web.DepotEice.UIL.Managers
@using Web.DepotEice.UIL.Models.Forms;

@inject ILogger<Register> Logger;
@inject UserManager UserManager;

<PageTitle>Inscription</PageTitle>

<h2 class="text-center my-5">S'inscrire</h2>

<div class="container py-5 my-5 border border-1 bg-light">
    <EditForm class="mt-3" Model="@_registerForm" OnInvalidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="mb-3">
            <label for="email-input" class="form-label">Adresse email</label>
            <InputText type="email" id="email-input" class="form-control" @bind-Value="_registerForm.Email" />
            <ValidationMessage For="@(() => _registerForm.Email)" />
        </div>

        <div class="mb-3">
            <label for="confirm-email-input" class="form-label">Confirmer l'adresse email</label>
            <InputText type="email" id="confirm-email-input" class="form-control"
                       @bind-Value="_registerForm.ConfirmEmail" />
            <ValidationMessage For="@(() => _registerForm.ConfirmEmail)" />
        </div>

        <div class="mb-3">
            <label for="password-input" class="form-label">Mot de passe</label>
            <InputText type="password" id="password-input" class="form-control" @bind-Value="_registerForm.Password" />
            <ValidationMessage For="@(() => _registerForm.Password)" />
        </div>

        <div class="mb-3">
            <label for="confirm-password-input" class="form-label">Confirmer le mot de passe</label>
            <InputText type="password" id="confirm-password-input" class="form-control"
                       @bind-Value="_registerForm.ConfirmPassword" />
            <ValidationMessage For="@(() => _registerForm.ConfirmPassword)" />
        </div>

        <div class="mb-3">
            <label for="firstname-input" class="form-label">Prénom</label>
            <InputText id="firstname-input" class="form-control" @bind-Value="_registerForm.FirstName" />
            <ValidationMessage For="@(() => _registerForm.FirstName)" />
        </div>

        <div class="mb-3">
            <label for="lastname-input" class="form-label">Nom</label>
            <InputText id="lastname-input" class="form-control" @bind-Value="_registerForm.LastName" />
            <ValidationMessage For="@(() => _registerForm.LastName)" />
        </div>

        <div class="mb-3">
            <label for="birthdate-input" class="form-label">Date de naissance</label>
            <InputDate id="birthdate-input" class="form-control" @bind-Value="_registerForm.BirthDate" />
            <ValidationMessage For="@(() => _registerForm.BirthDate)" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary" style="min-width: 150px"
                    @onclick="@HandleValidSubmit">
                S'inscrire
            </button>
        </div>

        <div class="row">
            <span>
                Si vous avez déjà un compte, pour vous connecter cliquez <NavLink href="/login">ici</NavLink>
            </span>
        </div>
    </EditForm>
</div>

@code {
    private RegisterForm _registerForm = new();

    private async Task HandleValidSubmit()
    {
        var result = await UserManager.SignUpAsync(_registerForm);
        if (result)
        {
            Logger.LogInformation("Account successfully created!");
        }
        else
        {
            Logger.LogError("Account creation failed");
        }
        Logger.LogInformation("{date} | Submit form clicked", DateTime.Now);
    }
}